<nav class="navbar navbar-expand-lg navbar-light p-4">
  <div class="container-fluid">
    <div class="container">
    <a class="navbar-brand" href="/">
      <%# <img src="rvj_logo.png" alt="" width="30" height="24"> %>
      <%= image_tag 'rvj_logo.png',width:"150" ,height:"75"%>
    </a>
  </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services">SERVICES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="allemp">EMP_DATA</a>
        </li>
        
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="card p-2">
    <h1 class="text-danger">Employees Data</h1>
  </div>



  <div class="card mt-3">
    <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Salary</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each do |val|%>
      <tr>
        <th scope="row"><%= val.id%></th>
        <td><%= val.first_name%></td>
        <td><%= val.email%></td>
        <td><%= val.salary%></td>
      </tr>
      <% end%>
    </tbody>
  </table>
  </div>
</div>